<section id="page-content">
  <div class="container" id="home-container">
    <div class="p-5 mb-4 bg-light rounded-3 text-center jumbotron text-light">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <p class="lead">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-success btn-lg" type="button">Sign In</button>
      </div>
    </div>
  </section>
  <footer class="footer py-4 bg-dark text-light" id="sticky-footer">
    <div class="container text-center text-light">
      <span class="text-light">Copyright &copy <%= link_to 'Ronaldo Sena Jr', "https://www.linkedin.com/in/ronaldo-sena-junior", class: "text-light" %></span>
    </div>
  </footer>
