@import 'bootstrap/dist/css/bootstrap';

html, body {
 height: 100%;
}

.navbar {
	background-color: #D5D1AE !important;
}

.nav-link {
	color: white !important;
}

.jumbotron {
	background-image: asset-url('hero.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 425px;
}

#logo {
	color: white !important;
	float: left;
	font-size: 1.7em;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
}

#home-container {
 margin-top: 25px;
}

#page-content {
  flex: 1 0 auto;
	background-color: #ebeae0;
}

#sticky-footer {
	background-color: #e0dec6 !important;
	flex-shrink: none;
}
