<footer class="footer py-4 bg-dark text-light" id="sticky-footer">
  <div class="container text-center text-light">
    <span class="text-light">Copyright &copy <%= link_to 'Ronaldo Sena Jr', "https://www.linkedin.com/in/ronaldo-sena-junior", class: "text-light" %></span>
  </div>
</footer>
